:root{
  --color-1:white;
  --color-2:#03a9f4;
  --color-3:black;
  --color-4:rgb(58, 56, 56);
  --color-5:pink;
  --color-6:yellowgreen;
  --color-7:rgb(236, 229, 229);
}
*{
  margin:0;
  padding:0;
}
.container-fluid{
  height: 100vh;
}
.row{
  height: 100vh;
}
.outer{
  align-items: center;
  background-color:var(--color-2);
  font-size: 4vw;
  justify-content: center;
  display: flex;
}
span{
    color:var(--color-1);
}
.middle{
  height:33.33vh;
}
.strap{
  height:33.33vh;
}
.tmid{
  background-color: var(--color-4);
  justify-content: center;
  align-items: flex-end;
  display: flex;
  margin-top: 25vh;
  margin-left:3vw;
  margin-right: 3vw;
  height: 8.33vh;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0;
}
.mid{
  background-color: var(--color-4);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 33.33vh;
  width: 33.33vw;
  border-radius: 20px;
}
.rect{
  height: 30vh;
  width: 14.33vw;
  border-radius: 20px;
  background-color: var(--color-3);
}
.main{
  color:var(--color-1);
  text-align: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3em;
}
.bmid{
  background-color: var(--color-4);
  margin: 0;
  padding: 0;
  height:20%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-block-start: 1em;
}
.fas{
  background-color: var(--color-4);
  text-align: center;
  font-size:3vw;
  margin-left:3vw;
  margin-right: 3vw;
  margin-bottom: 25vh;
  padding: 0;
  height:8.33vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.mainMusic,.mainMsg{
  color:var(--color-1);
  font-size: 2vw;
  justify-content: center;
  text-align: center;
}
/* For timer font */
.mainTimer{
  color:var(--color-1);
  font-size: 3vw;
  justify-content: center;
  text-align: center;
}
.music {
  color:var(--color-5);
  cursor: pointer;
  display: inline;
}
.far {
  color:var(--color-1);
  cursor: pointer;
  display: inline;
}
.msg {
  color: var(--color-6);
  cursor: pointer;
  display: inline;
}
.navbar{
  align-items: center;
  display: flex;
  justify-content: center;
}
.home{
  margin:0;
  padding: 0;
}
h3{
  color:var(--color-1);
  display: inline;
  text-align: left; 
}
.chat{
  overflow-y:scroll;
  font-size: 1.5vw;
}
#msg-1,#msg-2,#msg-3,#msg-4{
  background-color: var(--color-7);
  color: var(--color-3);
  cursor: pointer;
  margin-top: 15px;
  text-align: left;
}
.content-1,.content-2,.content-3,.content-4{
  background-color: var(--color-7);
  color: var(--color-3);
  font-size: 1.5vw;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}




  
  