:root{
  --color-1:white;
  --color-2:blue;
  --color-3:black;
  --color-4:rgb(88, 85, 85);
  --color-5:pink;
  --color-6:yellowgreen;
  --color-7:rgb(236, 229, 229);
}
*{
  margin:0;
  padding:0;
}
.container-fluid{
  height: 100vh;
}
.row{
  height: 100vh;
}
.outer{
  align-items: center;
  background-color:var(--color-2);
  font-size: 6em;
  justify-content: center;
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span{
    color:var(--color-1);
}
.middle{
  height:33%;
}
.strap{
  height:33%;
}
.tmid{
  background-color: var(--color-4);
  justify-content: center;
  align-items: flex-end;
  display: flex;
  margin-top: 26vh;
  margin-left:20px;
  margin-right: 20px;
  height: 22%;
  width: 100%;
  padding: 0;
}
.mid{
  background-color: var(--color-4);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 120%;
  border-radius: 20px;
}
.rect{
  padding: 5;
  margin: 2;
  height: 95%;
  width: 95%;
  border-radius: 20px;
  background-color: var(--color-3);
}
.main{
  color:var(--color-1);
  text-align: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3em;
  margin-top: 10%;
}
.bmid{
  background-color: var(--color-4);
  margin: 0;
  padding: 0;
  height:20%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-block-start: 1em;
}
.fas{
  text-align: center;
  /* color:pink; */
  font-size:45px;
  
  background-color: var(--color-4);
  margin-left:20px;
  margin-right: 20px;
  padding: 0;
  height:22%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.mainTimer,.mainMusic,.mainMsg{
  color:var(--color-1);
  text-align: center;
  justify-content: center;
  font-size: 2em;
}
.music {
  cursor: pointer;
  color:var(--color-5);
  display: inline;
}
.far {
  cursor: pointer;
  display: inline;
  color:var(--color-1);
}
.msg {
  cursor: pointer;
  color: var(--color-6);
  display: inline;
}
.navbar{
  justify-content: center;
  align-items: center;
  display: flex;
}
.home{
  margin:0;
  padding: 0;
}
h3{
  color:var(--color-2);
  text-align: left;
  display: inline;
}
.list-group{
  background-color: var(--color-7);
  color:var(--color-3);
}
.list-group{
  text-align: left;
}
.list-group{
  overflow: auto;
}




  
  