*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    height: 100vh;
}

.left{
    align-items: center;
    background-color: #1890f0;
    display: flex;
    float: left;
    height:100%;
    justify-content: center;
    text-align: center;
    width: 50%;
}
span{
    color:white;
  }
.content{
    background-color:white;
    display: flex;
    float: left;
    height: 100%;
  }
  .outerrect{
    align-content: center;
    width: 270px;
    height: 270px;
    background-color: black;
    border-radius: 10%;
    margin-left: 70%;
}
  .rect{
      /* align-content: center; */
      width: 250px;
      height: 250px;
      background-color: gray;
      border-radius: 10%;
      padding: 20px;
      /* margin-top: 20px;
      margin-left:20px;
      margin-right: 20px; */

  }
  h4{
      color:blue;
      padding: 15px;
  }
  